.additional-info {
    display: flex;
    justify-content: space-between;
}

.left-content,
.middle-content,
.right-content {
    flex: 1;
    padding: 0 10px; /* Optional: Add padding for spacing */
}

.section {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .additional-info {
        flex-direction: column;
    }
}
